.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 15px;
  color: #1c1b1a;
  background: #ffffff;
  z-index: 99;
  position: sticky;
  left: 0;
  top: 0;
}
.logo__img {
  width: 200px;
}

.qna {
  background: #1c1b1a;
  color: #ffffff;
}

.navbar__left {
  padding: 0px 0px 0px 240px;
}

.navbar__right {
  padding: 0px 240px 0px 0px;
}

.navbar__right button {
  margin-left: 40px;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 20px;
  line-height: 25px;
  background: inherit;
}

.navbar__right .qna {
  color: '#ffffff';
  background: 'black';
}

@media (max-width: 1200px) {
  .navbar__right button {
    font-size: 12px;
  }
  .logo__img {
    width: 150px;
    height: 35px;
  }
  .navbar {
    padding: 0px 0px 0px 0px;
    font-size: 12px;
  }
  .navbar__left {
    padding: 0px 0px 0px 0px;
  }
  .navbar__right {
    padding: 0px 0px 0px 0px;
  }
  .navbar__right button {
    margin-left: 0px;
  }
}
