.partbox {
  width: 360px;
  height: 300px;
  font-size: 16px;
}

.partdot-wrapper {
  top: 76px;
}

.part {
  width: 70%;
  font-size: 14px;
}

.partdot {
  width: 150px;
  font-size: 14px;
}

@media (max-width: 600px) {
  .partbox {
    width: 200px;
    height: 200px;
    font-size: 12px;
  }
  .partdot {
    width: 50px;
    font-size: 10px;
  }

  .partdot-wrapper {
    top: 80px;
  }
  .part {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .partbox {
    width: 280px;
    height: 280px;
    font-size: 14px;
  }
  .partdot-wrapper {
    top: 80px;
  }
  .partdot {
    width: 70px;
    font-size: 12px;
  }
  .part {
    width: 100%;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .partbox {
    width: 360px;
    height: 360px;
  }
  .partdot {
    font-size: 12px;
  }
  .part {
    font-size: 12px;
  }
}
